{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Virtual Shop</title>

    <!--J Query-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">

    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    


</head>

<body>
    <div class="container">
        <!--Search Bar-->
        <div class="row">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col">
                            <input type="search" name="item_name" placeholder="Search for products"
                                class="form-control form-control-bordeless">
                        </div>

                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--End of Search Bar-->

        <!-- Products Space-->
        <div class="row">
            {% for product in product_objects %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ product.image }}" alt="" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                            {{ product.product }}
                        </div>
                        <div class="card-text">
                            $ {{ product.price }}
                        </div>
                        <a href="/{{ product.id }}" class="btn btn-warning">View</a>
                        <button id="{{ product.id }}" class="btn atc btn-warning">Add to Cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- End of Products Space-->

        <!--Previous Page-->
        <div class="row">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if product_objects.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_objects.previous_page_number }}">Previous</a>
                    </li>
                    {% endif %}

                    <!--Current Page-->
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ product_objects.number }}">Current</a>
                    </li>
                    <!--ENF OF Current Page-->

                    <!--Next Page-->
                    {% if product_objects.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_objects.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</body>



<script src="{% static 'shop/script.js' %}"></script>



</html>